<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <span class="form-title">{{ 'MENU.CLASSES' | translate }}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="../class" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.CLASSES' | translate }}</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
<!-- 
    Slider

    <div>
        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    </div> -->

</div>