<form [formGroup]="mainForm">
    <div class="row mt-2">
        <div class="col-sm-2 form-label">
            <label for="code">Mã</label>
        </div>
        <div class="col-sm-2">
            <input type="text" appInputCharacterMask class="form-control form-control-block form-required" id="code"
                maxlength="20" formControlName="code">
            <span
                *ngIf="!mainForm.get('code').valid && mainForm.get('code').hasError('required') && mainForm.get('code').touched"
                class="help-block error-message">
                Bắt buộc nhập
            </span>
            <span
                *ngIf="!mainForm.get('code').valid && mainForm.get('code').hasError('existed') && mainForm.get('code').touched"
                class="help-block error-message">
                Mã đã tồn tại
            </span>
        </div>
        <div class="col-sm-2 form-label">
            <label for="sortIndex">TTHT</label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control form-control-block form-required" id="sortIndex" numericInputOnly
                maxlength="10" formControlName="sortIndex">
            <div *ngIf="!mainForm.get('sortIndex').valid && mainForm.get('sortIndex').touched"
                class="help-block error-message">
                Bắt buộc nhập
            </div>
        </div>
        <div class="col-sm-2 form-label">
            <label for="inactive" class="lbl">NTD</label>
        </div>
        <div class="col-sm-1">
            <div class="custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="inactive" formControlName="inactive" checked>
                <label for="inactive" class="lbl"></label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-2 form-label">
            <label for="name">Tên</label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-block form-required" id="name" maxlength="250"
                formControlName="name">
            <span *ngIf="!mainForm.get('name').valid && mainForm.get('name').touched" class="help-block error-message">
                Bắt buộc nhập
            </span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-2 form-label">
            <label for="name">Hình thức chấm</label>
        </div>
        <div class="col-sm-2">
            <select class="form-control form-required" formControlName="evaluationType" (click)="changeEvaType()">
                <option value="{{ evaType.value }}" *ngFor="let evaType of evaTypes">
                    {{evaType.value}}
                </option>
            </select>
        </div>
    </div>
    <div class="row mt-2" *ngIf="evaType =='E_SCORES'">
        <div class="col-sm-2 form-label">
            <label for="maxScores">Điểm tối đa</label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control form-control-block form-required" id="maxScores" numericInputOnly
                maxlength="10" formControlName="maxScores">
        </div>
        <div class="col-sm-2 form-label">
            <label for="decimals">Số thập phân</label>
        </div>
        <div class="col-sm-1">
            <select class="form-control form-required" formControlName="decimals">
                <option value="{{ decimalsValue.value }}" *ngFor="let decimalsValue of decimalsValues">
                    {{decimalsValue.value}}
                </option>
            </select>
        </div>
    </div>
</form>

<div *ngIf="evaType == 'E_LEVEL'" class="row mt-2">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
        <div class="row mt-2">
            Cấp bậc
        </div>
        <div class="row mt-2" *ngFor="let level of levels; index as i; last as isLast">
            <div class="col-sm-2">
                <input type="text" class="form-control" maxlength="20" [(ngModel)]="level.code"
                    class="form-control form-required" placeholder="Mã">
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" maxlength="150" [(ngModel)]="level.description"
                    class="form-control form-required" placeholder="Diễn giải">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" maxlength="4" [(ngModel)]="level.scores"
                    class="form-control form-required" placeholder="Điểm số" numericInputOnly>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" (click)="onUp(i)" style="margin-left: 5px;"
                    [hidden]="i ==0" tabindex="-1">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="onDown(i)" style="margin-left: 5px;"
                    [hidden]="isLast" tabindex="-1">
                    <i class="fa fa-arrow-down"></i>
                </button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-default" (click)="onDeleteRow(i)" style="margin-left: 5px;"
                    [hidden]="" tabindex="-1">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-1">
                <button type="button" class="btn btn-default" (click)="onAddRow()" style="margin-left: 5px;">
                    <i class="fa fa-plus"></i><span></span>
                </button>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row mt-2">
    <div class="col-sm-2"> </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-save btn-block" (click)="startSave()" [disabled]="!isFormValid">
            <i class="fa fa-save"></i> Lưu
        </button>
    </div>
</div>