@import 'variables';

.menu-panel {
    background-color: $default-theme-color;
    height: 52px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-logo-panel {
    margin-top: 2px ;
}
.menu-item-panel {
    margin-top: 12px ;
}
.menu-item {
    color: white;
}
.menu-item:hover {
    color: $default-theme-opposite-color;
}
.menu-icon {    // convert to #819a9e
    filter: invert(65%) sepia(7%) saturate(787%) hue-rotate(140deg) brightness(91%) contrast(84%);
    height: 36px;
    margin-top: 3px;
}
.menu-icon:hover,focus {    // convert to white #ffffff
    filter: invert(95%) sepia(99%) saturate(3%) hue-rotate(179deg) brightness(105%) contrast(100%);
}
.menu-button-panel {
    margin-top: 3px ;
}
.menu-button { 
    height: 36px;
}