/* common */
$default-theme-color: #033641;
$default-theme-color-light: #56777a;      // 67 142 185 
$default-theme-opposite-color: #d4ae3d;
// $default-background-color:	#f8f8f8;         // RGB(246, 247, 248)
$default-background-color:	#ffffff;         // RGB(246, 247, 248)
$default-line-color:	#e1e6ea;             // RGB(225, 230, 234)

/* font */
$default-font-color: #2f3941;
$default-font-light-color: #87929d;          // RGB(152, 187, 2424)
$default-font-highlight: #1f73b7;

/* button */
$default-btn-icon-color: #2f3941;
$default-li-hover-color: #e6e6e6;
$bootstrap-font-color: #6b737c;
$cal-btn-color: #cccccc;
$text-color-bg: #ffffff;

/* error message */
$error-message-color: red;

/* spacing */
$space-small: 5px;
$space-medium: 10px;
$space-large: 15px;