<div class="row menu-panel">
    <div class="col-sm-1">
        <a routerLink="home" routerLinkActive="active" class="menu-item">
            Banyan EMS
            <!-- <img src="{{imgFolder}}/home.svg" alt="home" class="menu-icon" title="{{ 'MENU.HOME' | translate }}"> -->
        </a>
    </div>
    <div class="col-sm-1" align="center">
        <a routerLink="student" routerLinkActive="active" class="menu-item">
            Student
        </a>
    </div>
    <div class="col-sm-1" align="center">
        <a routerLink="class" routerLinkActive="active" class="menu-item">
            Class
        </a>
    </div>
    <div class="col-sm-1" align="center">
        <a routerLink="lecturer" routerLinkActive="active" class="menu-item">
            Lecturer
        </a>
    </div>
    <div class="col-sm-1" align="center">
        <a routerLink="settings" routerLinkActive="active" class="menu-item">
            Settings
        </a>
    </div>
    <div class="col-sm-7" align="right">
        <div class="menu-item">{{ username }}</div>
  </div>