<div class="row menu-panel">
    <div class="col-sm-1 menu-item-panel">
        <a routerLink="home" routerLinkActive="active" class="menu-item">
            BANYAN
            <!-- <img src="{{imgFolder}}/home.svg" alt="home" class="menu-icon" title="{{ 'MENU.HOME' | translate }}"> -->
        </a>
    </div>
    <div class="col-sm-4 menu-item-panel" align="left">
        <a routerLink="student" routerLinkActive="inactive" class="menu-item disabled-link">
            {{ 'MENU.STUDENTS' | translate }}
        </a>
        <span class="ml-3">
            <a routerLink="class" routerLinkActive="active" class="menu-item">
                {{ 'MENU.CLASSES' | translate }}
            </a>
        </span>
        <span class="ml-3">
            <a routerLink="lecturer" routerLinkActive="active" class="menu-item disabled-link">
                {{ 'MENU.LECTURERS' | translate }}
            </a>
        </span>
        <span class="ml-3">
            <a routerLink="settings" routerLinkActive="active" class="menu-item">
                {{ 'MENU.SETTINGS' | translate }}
            </a>
        </span>
    </div>
    <div class="col-sm-1 menu-item-panel" align="center">
        <div class="menu-item">{{ username }}</div>
    </div>
    <div class="col-sm-6 menu-button-panel" align="right">
        <button type="button" class="btn btn-default menu-button" (click)="changeLanguage('vi')" [disabled]="currentLang=='vi'">
            Tiếng Việt
        </button>
        <button type="button" class="btn btn-default menu-button ml-2" (click)="changeLanguage('en')" [disabled]="currentLang=='en'">
            English
        </button>
        <button type="button" class="btn btn-default menu-button ml-2" (click)="changeLanguage('ko')" [disabled]="currentLang=='ko'">
            한국어
        </button>
        <button type="button" class="btn btn-default menu-button ml-5" (click)="onLogout()">
            {{ 'COMMON.ACTION.LOG_OUT' | translate }}
        </button>
    </div>