<div class="app-content">
    <div class="row form-header">
        <div class="col-sm-12">
            <span class="form-title">Chương trình</span>
            <button type="button" class="btn btn-primary ml-2" (click)="onAdd(editDialog)">
                Thêm
            </button>
        </div>
    </div>
    <div class="row form-body" style="margin: 5px">
        <data-table id="data-grid" headerTitle="" [page]="pageNumber" [items]="items" [itemCount]="itemCount"
            (reload)="load($event)" [limit]="10" [header]="false" [selectColumn]="false" [multiSelect]="false"
            [pagination_input]="true" [pagination_range]="true" [indexColumnHeader]="'#'" [selectOnRowClick]="false"
            [expandableRows]="false" [showReloading]="true" [sortBy]="'code'" [sortAsc]="true">
            <data-table-column [property]="'code'" [header]="'Mã'" [width]="100">
            </data-table-column>
            <data-table-column [property]="'name'" [header]="'Tên'">
            </data-table-column>
            <data-table-column [property]="'sortIndex'" [header]="'TTHT'" [styleClass]="'text-center'" [width]="120">
            </data-table-column>
            <data-table-column [property]="" [header]="'NTD'" [styleClass]="'text-center'" [width]="100">
                <ng-template #dataTableCell let-item="item">
                    <div class="">
                        <span *ngIf="item.inactive"><i class="fa fa-check"></i></span>
                    </div>
                </ng-template>
            </data-table-column>
            <data-table-column [property]="" [header]="''" [styleClass]="'text-center'" [width]="100">
                <ng-template #dataTableCell let-item="item">
                    <button type="button" class="btn btn-default btn-sm space-right-small"
                        (click)="onEdit(editDialog, item)">
                        <i class="fa fa-edit"></i>
                    </button>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>

    <ng-template #editDialog>
        <div class="modal-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        Chương trình
                        <span *ngIf="isEditMode"> - Sửa</span>
                        <span *ngIf="!isEditMode"> - Thêm</span></h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-program-add [item]="selectedItem" [mode]="mode" (valueChange)='onChanged($event)'>
                    </app-program-add>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- <app-confirm-dialog iconCls="fa fa-trash" >
    </app-confirm-dialog> -->

</div>