<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.CODE' | translate }}</mat-label>
                <input type="text" appInputCharacterMask matInput formControlName="code" maxlength="20" required #code>
                <mat-error *ngIf="mainForm.get('code').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('code').hasError('existed')">
                    {{ 'MESSAGE.CODE_EXISTS' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-8">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="name" maxlength="250" required #name>
                <mat-error *ngIf="mainForm.get('name').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-8">
            <app-outlet-selector [uuid]="outletId" [mode]="mode" (valueChange)="onChangeOutlet($event)">
            </app-outlet-selector>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.STATUS' | translate }}</mat-label>
                <select matNativeControl formControlName="status">
                    <option value="{{ status.value }}" *ngFor="let status of statusValues">
                        {{ 'MODULE.CLASS.STATUS_VALUES.' + status.value | translate }}
                    </option>
                </select>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            <app-program-selector [uuid]="programId" [mode]="mode" (valueChange)="onChangeProgram($event)">
            </app-program-selector>
        </div>
        <div class="col-sm-6">
            <app-course-selector [courseId]="courseId" [programId]="programId" [mode]="mode"
                (valueChange)="onChangeCourse($event)">
            </app-course-selector>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.TIME.TIME_FROM' | translate }}</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="actualStartDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" required>
                <mat-error *ngIf="mainForm.get('actualStartDate').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.TIME.TIME_TO' | translate }}</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="actualEndDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" required>
                <mat-error *ngIf="mainForm.get('actualEndDate').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <app-schedule-pattern-selector [uuid]="schedulePatternId" [mode]="mode"
                (valueChange)="onChangeSchedulePattern($event)">
            </app-schedule-pattern-selector>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.CLASS.HEADCOUNT' | translate }} min</mat-label>
                <input type="text" matInput formControlName="minHeadCount" maxlength="3" required>
                <mat-error *ngIf="mainForm.get('minHeadCount').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.CLASS.HEADCOUNT' | translate }} max</mat-label>
                <input type="text" matInput formControlName="maxHeadCount" maxlength="3" required>
                <mat-error *ngIf="mainForm.get('maxHeadCount').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <app-facility-selector [facilityId]="facilityId" [outletId]="outletId" [mode]="mode"
                (valueChange)="onChangeFacility($event)">
            </app-facility-selector>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.REMARK' | translate }}</mat-label>
                <input type="text" matInput formControlName="remark" maxlength="250">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-2">
            <button type="button" class="btn btn-save btn-block" (click)="startSave()" [disabled]="!isFormValid">
                <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
            </button>
        </div>
    </div>
</form>