<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.CODE' | translate }}</mat-label>
                <input type="text" appInputCharacterMask matInput formControlName="code" maxlength="20" required #code>
                <mat-error *ngIf="mainForm.get('code').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('code').hasError('existed')">
                    {{ 'MESSAGE.CODE_EXISTS' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-8">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="name" maxlength="250" required #name>
                <mat-error *ngIf="mainForm.get('name').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.SORT_INDEX' | translate }}</mat-label>
                <input type="text" matInput formControlName="sortIndex" maxlength="10" numericInputOnly required>
                <mat-error *ngIf="mainForm.get('sortIndex').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="inactive">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</mat-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.BIZ.WORKING_TIMES' | translate }}</mat-label>
                <input type="text" matInput formControlName="workingTimes" maxlength="250">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.CONTACT_INFO.PHONE_NO' | translate }}</mat-label>
                <input type="text" matInput formControlName="phoneNo" maxlength="20">
            </mat-form-field>
        </div>
        <div class="col-sm-8">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.CONTACT_INFO.EMAIL' | translate }}</mat-label>
                <input type="text" matInput formControlName="email" maxlength="250">
                <mat-error *ngIf="mainForm.get('email').invalid">
                    {{ 'MESSAGE.EMAIL_INVALID' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.CONTACT_INFO.ADDRESS' | translate }}</mat-label>
                <input type="text" matInput formControlName="fullAddress" maxlength="250">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.CONTACT_INFO.LATITUDE' | translate }}</mat-label>
                <input type="text" matInput formControlName="latitude" maxlength="12">
                <mat-error *ngIf="mainForm.get('latitude').invalid">
                    {{ 'MESSAGE.DATA_INVALID' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.CONTACT_INFO.LONGITUDE' | translate }}</mat-label>
                <input type="text" matInput formControlName="longitude" maxlength="12">
                <mat-error *ngIf="mainForm.get('longitude').invalid">
                    {{ 'MESSAGE.DATA_INVALID' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-3">
            <button type="button" class="btn btn-save btn-block" (click)="onSave()" [disabled]="!isFormValid">
                <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
            </button>
        </div>
    </div>
</form>