<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <span class="form-title">{{ 'MENU.EMPLOYEES_LECTURERS' | translate }}</span>
        </div>   
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="../employee" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.EMPLOYEES_LECTURERS' | translate }}</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

</div>