<div class="app-content-white">
    <div class="row mat-elevation-z1">
        <div class="col-sm-5">
            <span class="form-sub-label" style="display: block;">{{ 'MENU.CLASS' | translate | uppercase }}</span>
            <span class="form-title">{{ item?.name }}</span>
            <button type="button" class="btn btn-add btn-lite ml-1" (click)="onEdit(editDialog)">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="col-sm-3">
            <span style="display: block;" class="mt-3">
                <a routerLink="../../../class/single-schedule/{{ id }}" class="link-text"><i
                class="fa fa-calendar mt-2 mr-1"></i> <strong>Lịch học</strong></a>
                <a routerLink="../../../class/attendance-summary/{{ id }}" class="link-text ml-2"> <strong>Điểm danh</strong></a>
            </span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label mt-2" style="display:block">{{ 'COMMON.TIME.START_DATE' | translate }}</span>
            <span style="display:block">{{ item?.actualStartDate | moment}}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label mt-2" style="display:block">{{ 'COMMON.TIME.END_DATE' | translate }}</span>
            <span style="display:block">{{ item?.actualEndDate | moment}}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label mt-2" style="display:block">{{ 'COMMON.GENERAL.STATUS' | translate }}</span>
            <span style="display:block">{{ 'MODULE.CLASS.STATUS_VALUES.' + item?.status | translate}}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label mt-2" style="display:block">{{ 'MENU.FACILITY' | translate }}</span>
            <span style="display:block">{{ item?.facilityNo }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <br>
            <span class="form-sub-label" style="display:block">{{ 'COMMON.GENERAL.CODE' | translate }}</span>
            <span style="display:block"><strong>{{ item?.code }}</strong></span>
            <span class="form-sub-label" style="display:block">{{ 'MENU.OUTLET' | translate }}</span>
            <span style="display:block">{{ item?.outletName }}</span>
            <span class="form-sub-label mt-1" style="display:block">{{ 'MENU.SCHEDULE_PATTERN' | translate }}</span>
            <span style="display:block">{{ item?.schedulePatternName }}</span>
            <span class="form-sub-label" style="display:block">{{ 'MENU.COURSE' | translate }}</span>
            <a routerLink="../../../../settings/course/view/{{item?.courseId}}" class="link-text">{{
                item?.courseName }}</a>
            <span class="form-sub-label mt-1" style="display:block">{{ 'MENU.PROGRAM' | translate }}</span>
            <span style="display:block">{{ item?.programName }}</span>
            <span class="form-sub-label mt-1" style="display:block">Số buổi</span>
            <span style="display:block">{{ item?.sessionCount }}</span>
            <span class="form-sub-label mt-1" style="display:block">{{ 'MODULE.CLASS.HEADCOUNT_MIN' | translate
                }}</span>
            <span style="display:block">{{ item?.minHeadCount }}</span>
            <span class="form-sub-label mt-1" style="display:block">{{ 'MODULE.CLASS.HEADCOUNT_MAX' | translate
                }}</span>
            <span style="display:block">{{ item?.maxHeadCount }}</span>
            <div class="custom-checkbox mt-1">
                <input type="checkbox" class="custom-control-input" [checked]="item?.checkingRequired" disabled>
                <label class="lbl">
                    <span class="ml-2">{{ 'MODULE.CLASS.CHECKING_REQUIRED' | translate }}</span>
                </label>
            </div>
            <div *ngIf="item?.remark != ''">
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.GENERAL.REMARK' | translate }}</span>
                <span style="display:block">{{ item?.remark }}</span>
            </div>
            <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.CREATED_BY' | translate
                }}</span>
            <span style="display:block">{{ item?.createdByCode }}</span>
            <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.CREATED_AT' | translate
                }}</span>
            <span style="display:block">{{ item?.createdAt | moment }}</span>
            <div *ngIf="item?.modifiedByCode">
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.MODIFIED_BY' | translate
                    }}</span>
                <span style="display:block">{{ item?.modifiedByCode }}</span>
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.MODIFIED_AT' | translate
                    }}</span>
                <span style="display:block">{{ item?.modifiedAt | moment}}</span>
            </div>
        </div>
        <div class="col-sm-7">
            <tabset class="col-sm-12" style="min-height:400px">
                <tab [heading]="'MENU.STUDENTS' | translate" id="tabStudents">
                    <app-class-enrollment-list [class]="item" [owner]="'E_CLASS'"></app-class-enrollment-list>
                </tab>
                <tab [heading]="'Quản lý'">
                    <app-class-assignment-list [class]="item" [owner]="'E_CLASS'"></app-class-assignment-list>
                </tab>
                <tab [heading]="'Môn học'">
                    <app-class-study-subject-list [classId]="id" [class]="item"></app-class-study-subject-list>
                </tab>
                <tab [heading]="'Lịch học'">
                    <app-class-unit-list [class]="item" [classId]="id" ></app-class-unit-list>
                </tab>
                <tab [heading]="'Thi/Kiểm tra'">
                    <app-class-examination-list [class]="item" [classId]="id" ></app-class-examination-list>
                </tab>
            </tabset>
        </div>
        <div class="col-sm-3">
            <br>
            <app-comment-list [ownerType]="'E_CLASS'" [ownerId]="id"></app-comment-list>
        </div>
    </div>
</div>

<ng-template #editDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'MENU.CLASS' | translate }}<span> -
                        {{ 'COMMON.ACTION.EDIT' | translate }}</span></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-class-add [item]="item" [mode]="mode" (valueChange)='onChanged($event)'>
                </app-class-add>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #assignStudySubjectDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'MENU.STUDY_SUBJECTS' | translate }}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <app-study-subject-assign [id]="item.uuid" [items]="item.studySubjects" [dataType]="'E_CLASS'"
                    (valueChange)='onChanged($event)'>
                </app-study-subject-assign> -->
            </div>
        </div>
    </div>
</ng-template>