<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>Ngày nghỉ</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="date"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" [minDate]="minDate" [maxDate]="maxDate" required #date>
                <mat-error *ngIf="mainForm.get('date').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>Loại ngày nghỉ</mat-label>
                <select matNativeControl formControlName="type">
                    <option value="{{ type }}" *ngFor="let type of types">
                        {{ 'MODULE.SETTINGS.HOLIDAY_TYPE_VALUES.' + type | translate }}
                    </option>
                </select>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-8">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.REMARK' | translate }}</mat-label>
                <input type="text" matInput formControlName="remark" maxlength="250" required>
                <mat-error *ngIf="mainForm.get('remark').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-3">
            <button type="button" class="btn btn-save btn-block" (click)="startSave()" [disabled]="!isFormValid">
                <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
            </button>
        </div>
    </div>
</form>