<!-- <form [formGroup]="mainForm"> -->
<div class="app-content">
    <div class="row form-header">
        <div class="col-sm-4">
            <span class="form-title">Ngày nghỉ lễ</span>
            <button type="button" class="btn btn-add ml-2" (click)="onAdd(editDialog)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Năm</mat-label>
                <mat-select (selectionChange)="onSearch()" [(value)]="selectedYear">
                    <mat-option value="{{ year }}" *ngFor="let year of years">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row form-body" style="margin: 5px">
        <data-table id="data-grid" headerTitle="" [page]="pageNumber" [items]="items" [itemCount]="itemCount"
            (reload)="load($event)" [limit]="10" [header]="false" [selectColumn]="false" [multiSelect]="false"
            [pagination_input]="true" [pagination_range]="true" [indexColumnHeader]="'#'" [selectOnRowClick]="false"
            [expandableRows]="false" [showReloading]="true" [sortBy]="'code'" [sortAsc]="true">
            <data-table-column [property]="" [header]="'Ngày'" [width]="100" [styleClass]="'text-center'">
                <ng-template #dataTableCell let-item="item">
                    {{ item.date | moment }}
                </ng-template>
            </data-table-column>
            <data-table-column [property]="" [header]="'Loại'" [styleClass]="'text-center'" [width]="150">
                <ng-template #dataTableCell let-item="item">
                    {{ 'MODULE.SETTINGS.HOLIDAY_TYPE_VALUES.' + item.type | translate }}
                </ng-template>
            </data-table-column>
            <data-table-column [property]="'remark'" [header]="'Ghi chú'">
            </data-table-column>
            <data-table-column [property]="" [header]="''" [styleClass]="'text-center'" [width]="100">
                <ng-template #dataTableCell let-item="item">
                    <button type="button" class="btn btn-add btn-sm space-right-small"
                        (click)="onEdit(editDialog, item)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-add btn-sm space-right-small ml-2"
                        (click)="onDelete(item.uuid)">
                        <i class="fa fa-trash"></i>
                    </button>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>

    <ng-template #editDialog>
        <div class="modal-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        Ngày nghỉ lễ
                        <span *ngIf="isEditMode"> - Sửa</span>
                        <span *ngIf="!isEditMode"> - Thêm</span>
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-holiday-add [item]="selectedItem" [mode]="mode" [year]="selectedYear"
                        (valueChange)='onChanged($event)'>
                    </app-holiday-add>
                </div>
            </div>
        </div>
    </ng-template>

    <app-confirm-dialog iconCls="fa fa-trash" [title]="'MESSAGE.CONFIRM_DELETE_TITLE' | translate"
        [content]="'MESSAGE.CONFIRM_DELETE_MSG' | translate">
    </app-confirm-dialog>

    <!-- <app-confirm-dialog iconCls="fa fa-trash" >
    </app-confirm-dialog> -->

</div>