<div class="row mt-2 datagrid-header">
    <div class="col-sm-3">
        {{ 'MENU.STUDY_SUBJECT' | translate }}
    </div>
    <div class="col-sm-1" align="center">
        {{ 'MODULE.SETTINGS.LECTURE_UNIT_COUNT_SHORT' | translate }}
    </div>
    <div class="col-sm-3">
        {{ 'COMMON.GENERAL.REMARK' | translate }}
    </div>
</div>
<div class="row mt-2 datagrid-row-input" *ngFor="let item of finalItems; index as i; last as isLast">
    <div class="col-sm-3">
        <app-study-subject-selector [uuid]="item.studySubjectId" (valueChange)="onChangeStudySubject(i,$event)">
        </app-study-subject-selector>
    </div>
    <div class="col-sm-1" align="center">
        <input type="text" class="form-control" maxlength="20" class="form-control form-required" numericInputOnly
            [(ngModel)]="item.unitCount" (change)="onChangeUnitCount()">
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" maxlength="250" class="form-control" [(ngModel)]="item.remark">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default" (click)="onUp(i)" style="margin-left: 5px;" [hidden]="i ==0"
            tabindex="-1">
            <i class="fa fa-arrow-up"></i>
        </button>
        <button type="button" class="btn btn-default" (click)="onDown(i)" style="margin-left: 5px;" [hidden]="isLast"
            tabindex="-1">
            <i class="fa fa-arrow-down"></i>
        </button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-default" (click)="onDeleteRow(i)" style="margin-left: 5px;" [hidden]=""
            tabindex="-1">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-1 ml-3">
        <button type="button" class="btn btn-default" (click)="onAddRow()" style="margin-left: 5px;">
            <i class="fa fa-plus"></i><span></span>
        </button>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-1" align="center">
        <strong>{{ totalUnitCount }}</strong>
    </div>
</div>
<div class="row mt-4">
    <!-- <div class="col-sm-1"> </div> -->
    <div class="col-sm-2">
        <button type="button" class="btn btn-save btn-block" (click)="startSave()" [disabled]="!isFormValid">
            <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
        </button>
    </div>
</div>