<form [formGroup]="mainForm">
    <div class="row mt-2">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="name" maxlength="250" required #name>
                <mat-error *ngIf="mainForm.get('name').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.SORT_INDEX' | translate }}</mat-label>
                <input type="text" matInput formControlName="sortIndex" maxlength="4" numericInputOnly required>
                <mat-error *ngIf="mainForm.get('sortIndex').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="input-full-width">
                <mat-label>Ghi chú</mat-label>
                <input type="text" matInput formControlName="remark" maxlength="250">
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row mt-2 datagrid-header">
    <div class="col-sm-3">
        Môn thi/Kiểm tra
    </div>
    <div class="col-sm-5">
        {{ 'COMMON.GENERAL.REMARK' | translate }}
    </div>
</div>
<div class="row mt-2 datagrid-row-input" *ngFor="let item of finalItems; index as i; last as isLast">
    <div class="col-sm-3">
            <app-exam-subject-selector [uuid]="item.examSubjectId" (valueChange)="onChangeExamSubject(i,$event)">
            </app-exam-subject-selector>
        </div>
        
    <div class="col-sm-5">
        <input type="text" class="form-control" maxlength="250" class="form-control" [(ngModel)]="item.remark">
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default" (click)="onUp(i)" style="margin-left: 5px;" [hidden]="i ==0"
            tabindex="-1">
            <i class="fa fa-arrow-up"></i>
        </button>
        <button type="button" class="btn btn-default" (click)="onDown(i)" style="margin-left: 5px;" [hidden]="isLast"
            tabindex="-1">
            <i class="fa fa-arrow-down"></i>
        </button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-default" (click)="onDeleteRow(i)" style="margin-left: 5px;" [hidden]=""
            tabindex="-1">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-1 ml-3">
        <button type="button" class="btn btn-default" (click)="onAddRow()" style="margin-left: 5px;">
            <i class="fa fa-plus"></i><span></span>
        </button>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-2">
        <button type="button" class="btn btn-save btn-block" (click)="startSave()" [disabled]="!isFormValid">
            <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
        </button>
    </div>
</div>