<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-9">
                    <h5>{{ item?.contactName}}</h5>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-add" type="button" (click)="searchStudent(searchStudentDialog)"
                        *ngIf="isAdd && owner!='E_STUDENT'">
                        <i class="fa fa-search"></i> Chọn học viên
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <strong>{{ item?.contactCode}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-9">
                    <h5>{{ item?.className }}</h5>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-add" type="button" (click)="searchClass(searchClassDialog)" *ngIf="isAdd && owner!='E_CLASS'">
                        <i class="fa fa-search"></i> Chọn lớp học
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><strong>{{ item?.outletName }}</strong></div>
            </div>
            <div class="row">
                <div class="col-sm-12"><strong>{{ item?.courseName }}</strong></div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <mat-form-field class="input-full-width">
                        <mat-label>Ngày nhập học</mat-label>
                        <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="enrollmentDate"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" required #enrollmentDate>
                        <mat-error *ngIf="mainForm.get('enrollmentDate').hasError('required')">
                            {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="input-full-width">
                        <mat-label>Trạng thái</mat-label>
                        <mat-select formControlName="status">
                            <mat-option value="{{ status }}" *ngFor="let status of statuses">
                                {{ 'MODULE.CLASS.ENROLLMENT_STATUS_VALUES.' + status | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <mat-form-field class="input-full-width">
                        <mat-label>Ghi chú</mat-label>
                        <input type="text" matInput formControlName="remark">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <br>
                    <mat-checkbox formControlName="hasDebt" (change)="onChangeHasDebt()">Còn nợ học phí</mat-checkbox>
                </div>
                <div class="col-sm-4" *ngIf="hasDebt">
                    <mat-form-field class="input-full-width">
                        <mat-label>Số tiền nợ</mat-label>
                        <input type="text" matInput numericInputOnly formControlName="debtAmount">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-2">
            <button type="button" class="btn btn-save btn-block" (click)="onSave()" [disabled]="!isFormValid">
                <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
            </button>
        </div>
    </div>
</form>

<ng-template #searchStudentDialog>
    <div class="modal-form">
        <div class="modal-content">
            <!-- <div class="row">
                <div class="col-sm-12 ml-2">
                    <h6 class="modal-title pull-left mr-2">Search Student</h6>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div> -->
            <div class="modal-header">
                <h5 class="modal-title pull-left">Tìm học viên</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-student-search (valueChange)='onStudentSelected($event)'></app-student-search>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #searchClassDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">Tìm lớp học</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-class-search (valueChange)='onClassSelected($event)'>
                </app-class-search>
            </div>
        </div>
    </div>
</ng-template>