<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.CODE' | translate }}</mat-label>
                <input type="text" appInputCharacterMask matInput formControlName="code" maxlength="20" required #code>
                <mat-error *ngIf="mainForm.get('code').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('code').hasError('existed')">
                    {{ 'MESSAGE.CODE_EXISTS' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-8">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="name" maxlength="250" required #name>
                <mat-error *ngIf="mainForm.get('name').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.SORT_INDEX' | translate }}</mat-label>
                <input type="text" matInput formControlName="sortIndex" maxlength="10" numericInputOnly required>
                <mat-error *ngIf="mainForm.get('sortIndex').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.SETTINGS.SEATCOUNT' | translate }}</mat-label>
                <input type="text" matInput formControlName="seatCount" maxlength="5" numericInputOnly required>
                <mat-error *ngIf="mainForm.get('seatCount').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <br>
            <mat-checkbox formControlName="inactive">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</mat-checkbox>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-8">
            <app-outlet-selector matInput [uuid]="item?.outletId" [mode]="mode" (valueChange)="onChangeOutlet($event)">
            </app-outlet-selector>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-2">
            <button type="button" class="btn btn-save btn-block" (click)="startSave()" [disabled]="!isFormValid">
                <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
            </button>
        </div>
    </div>
</form>