<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.CODE' | translate }}</mat-label>
                <input type="text" appInputCharacterMask matInput formControlName="code" maxlength="20" required #code>
                <mat-error *ngIf="mainForm.get('code').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('code').hasError('existed')">
                    {{ 'MESSAGE.CODE_EXISTS' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="name" maxlength="250" required #name>
                <mat-error *ngIf="mainForm.get('name').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="inactive">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</mat-checkbox>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.PERSONAL.GENDER' | translate }}</mat-label>
                <select matNativeControl formControlName="gender" required>
                    <option value="{{ gender }}" *ngFor="let gender of genders">
                        {{ 'COMMON.PERSONAL.GENDER_VALUES.' + gender | translate }}
                    </option>
                </select>
                <mat-error *ngIf="mainForm.get('gender').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>DOB</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="dob"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" required>
                <mat-error *ngIf="mainForm.get('dob').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="asForeigner">Người nước ngoài</mat-checkbox>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>Tên khác</mat-label>
                <input type="text" matInput formControlName="otherName">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Số điện thoại</mat-label>
                <input type="text" matInput formControlName="phoneNo" maxlength="250" required>
                <mat-error *ngIf="mainForm.get('phoneNo').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" required>
                <mat-error *ngIf="mainForm.get('email').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('email').hasError('email')">
                    Invalid Email
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-7">
            <mat-form-field class="input-full-width">
                <mat-label>Địa chỉ</mat-label>
                <input type="text" matInput formControlName="contactAddressFull">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Số CMND/TCC/HC</mat-label>
                <input type="text" matInput formControlName="idCardNo">
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Ngày cấp</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="idCardIssueDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>Nơi cấp</mat-label>
                <input type="text" matInput formControlName="idCardIssuePlace">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-4">
            <app-outlet-selector matInput [uuid]="item?.outletId" [mode]="mode" (valueChange)="onChangeOutlet($event)">
            </app-outlet-selector>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>Chức danh</mat-label>
                <input type="text" matInput formControlName="jobTitle" required>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>Phòng ban</mat-label>
                <input type="text" matInput formControlName="orgUnitName">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Ngày bắt đầu</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="startedDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" required>
                <mat-error *ngIf="mainForm.get('startedDate').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Hình thức làm việc</mat-label>
                <select matNativeControl formControlName="workingType" required>
                    <option value="{{ workingType }}" *ngFor="let workingType of workingTypes">
                        {{ 'MODULE.EMPLOYEE.WORKING_TYPE_VALUES.' + workingType | translate }}
                    </option>
                </select>
                <mat-error *ngIf="mainForm.get('employmentStatus').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Trạng thái làm việc</mat-label>
                <select matNativeControl formControlName="employmentStatus" required>
                    <option value="{{ employmentStatus }}" *ngFor="let employmentStatus of employmentStatuses">
                        {{ 'MODULE.EMPLOYEE.EMPLOYMENT_STATUS_VALUES.' + employmentStatus | translate }}
                    </option>
                </select>
                <mat-error *ngIf="mainForm.get('employmentStatus').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Ngày kết thúc</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="terminatedDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Trình độ học vấn</mat-label>
                <select matNativeControl formControlName="eduLevel" required>
                    <option value="{{ eduLevel }}" *ngFor="let eduLevel of eduLevels">
                        {{ 'MODULE.EMPLOYEE.EDU_LEVEL_VALUES.' + eduLevel | translate }}
                    </option>
                </select>
                <mat-error *ngIf="mainForm.get('eduLevel').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="hasService">Giảng viên</mat-checkbox>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>Số năm kinh nghiệm</mat-label>
                <input type="text" matInput formControlName="yearsOfServiceExperiences" maxlength="2" numericInputOnly >
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="input-full-width">
                <mat-label>Ghi chú</mat-label>
                <input type="text" matInput formControlName="serviceQualificationRemark">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-2">
            <button type="button" class="btn btn-save btn-block" (click)="onSave()" [disabled]="!isFormValid">
                Lưu
            </button>
        </div>
    </div>
</form>