<div class="app-content-white">
    <!-- <div class="row mt-2">
        <div class="col-sm-6">
            <span>Nhân viên / Giảng viên</span>
        </div>
    </div> -->
    <div class="row mt-2">
        <div class="col-sm-10">
            <span class="form-title">{{ item?.name }}</span>
            <button type="button" class="btn btn-add ml-2" (click)="onEdit(editDialog)">
                <i class="fa fa-edit"></i> {{ 'COMMON.ACTION.EDIT' | translate }}
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-3">
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.code }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.GENERAL.CODE' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2" *ngIf="item?.otherName != ''">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.otherName }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.PERSONAL.OTHER_NAME' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.jobTitle }}</span>
                    <span class="form-sub-label ml-2">{{ 'MODULE.EMPLOYEE.JOB_TITLE' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2" *ngIf="item?.orgUnitName != ''">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.orgUnitName }}</span>
                    <span class="form-sub-label ml-2">{{ 'MODULE.EMPLOYEE.DEPARTMENT' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ 'COMMON.PERSONAL.GENDER_VALUES.' + item?.gender | translate }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.PERSONAL.GENDER' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.dob | moment}}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.PERSONAL.DOB' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [checked]="item?.asForeigner" disabled>
                        <label class="lbl">
                            <span class="form-sub-label ml-2">{{ 'MODULE.EMPLOYEE.FOREIGNER' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.email }}</span>
                    <span class="form-sub-label ml-2">Email</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.phoneNo }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.CONTACT_INFO.PHONE_NO' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.outletName }}</span>
                    <span class="form-sub-label ml-2">{{ 'MENU.OUTLET' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.startedDate | moment}}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.TIME.START_DATE' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [checked]="item?.hasService" disabled>
                        <label class="lbl">
                            <span class="form-sub-label ml-2">{{ 'MENU.LECTURER' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [checked]="item?.inactive" disabled>
                        <label class="lbl">
                            <span class="form-sub-label ml-2">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.createdByCode }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.SYSTEM.CREATED_BY' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.createdAt | moment}}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.SYSTEM.CREATED_AT' | translate }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <tabset class="col-sm-12" style="min-height:400px">
                <tab [heading]="'Tab 1'" id="tabExams">
                    <br><br>
                    <h5>Under Construction ...</h5>
                </tab>
                <tab [heading]="'Tab 2'" id="tabStudyMaterials">
                    <br><br>
                    <h5>Under Construction ...</h5>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<ng-template #editDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'MENU.EMPLOYEE_LECTURER' | translate }}<span> -
                        {{ 'COMMON.ACTION.EDIT' | translate }}</span></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-employee-add [item]="item" [mode]="mode" (valueChange)='onChanged($event)'>
                </app-employee-add>
            </div>
        </div>
    </div>
</ng-template>
