<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <span class="form-title">DEV TESTING</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <mat-list>
                <mat-list-item>
                    <a routerLink="../d3" routerLinkActive="active">
                        <h5>D3 Charts</h5>
                    </a>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <a routerLink="../slickgrid" routerLinkActive="active">
                        <h5>Slickgrid</h5>
                    </a>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>