<div class="app-content-white">
    <div class="row mt-1">
        <div class="col-sm-6">
            <span class="form-sub-label">{{ 'MENU.CLASS' | translate | uppercase }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <span class="form-title">{{ item?.name }}</span>
            <button type="button" class="btn-add ml-2" (click)="onEdit(editDialog)">
                <i class="fa fa-edit"></i>
                <!-- {{ 'COMMON.ACTION.EDIT' | translate }} -->
            </button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.GENERAL.CODE' | translate }}</span>
            <span style="display:block">{{ item?.code }}</span>
        </div>
        <div class="col-sm-2">
            <span class="form-sub-label" style="display:block">{{ 'MENU.OUTLET' | translate }}</span>
            <span style="display:block">{{ item?.outletName }}</span>
        </div>
        <div class="col-sm-3">
            <span class="form-sub-label" style="display:block">{{ 'MENU.COURSE' | translate }}</span>
            <span style="display:block">{{ item?.courseName }}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.TIME.START_DATE' | translate }}</span>
            <span style="display:block">{{ item?.actualStartDate | moment}}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.TIME.END_DATE' | translate }}</span>
            <span style="display:block">{{ item?.actualEndDate | moment}}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.GENERAL.STATUS' | translate }}</span>
            <span style="display:block">{{ 'MODULE.CLASS.STATUS_VALUES.' + item?.status | translate}}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label" style="display:block">{{ 'MENU.FACILITY' | translate }}</span>
            <span style="display:block">{{ item?.facilityNo }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label" style="display:block">{{ 'MENU.SCHEDULE_PATTERN' | translate }}</span>
            <span style="display:block">{{ item?.schedulePatternName }}</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label" style="display:block">{{ 'MENU.PROGRAM' | translate }}</span>
                    <span style="display:block">{{ item?.programName }}</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'MODULE.CLASS.HEADCOUNT_MIN' | translate }}</span>
                    <span style="display:block">{{ item?.minHeadCount }}</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'MODULE.CLASS.HEADCOUNT_MAX' | translate }}</span>
                    <span style="display:block">{{ item?.maxHeadCount }}</span>
                </div>
            </div>   
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [checked]="item?.checkingRequired"
                            disabled>
                        <label class="lbl">
                            <span
                                class="ml-2">{{ 'MODULE.CLASS.CHECKING_REQUIRED' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-1" *ngIf="item?.remark != ''">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'COMMON.GENERAL.REMARK' | translate }}</span>
                    <span style="display:block">{{ item?.remark }}</span>
                </div>
            </div>
            <!-- <div class="row mt-1" *ngIf="item?.curriculum !=''">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'MODULE.CLASS.CURRICULUM' | translate }}</span>
                    <span style="display:block">{{ item?.curriculum }}</span>
                </div>
            </div> -->
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'COMMON.SYSTEM.CREATED_BY' | translate }}</span>
                    <span style="display:block">{{ item?.createdByCode }}</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'COMMON.SYSTEM.CREATED_AT' | translate }}</span>
                    <span style="display:block">{{ item?.createdAt | moment }}</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'COMMON.SYSTEM.MODIFIED_BY' | translate }}</span>
                    <span style="display:block">{{ item?.modifiedByCode }}</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <span class="form-sub-label"
                        style="display:block">{{ 'COMMON.SYSTEM.MODIFIED_AT' | translate }}</span>
                    <span style="display:block">{{ item?.modifiedAt | moment }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <tabset class="col-sm-12" style="min-height:400px">
                <tab [heading]="'MENU.STUDENTS' | translate" id="tabStudents">
                    <app-class-enrollment [class]="item" [owner]="'E_CLASS'"></app-class-enrollment>
                </tab>
                <tab [heading]="'Quản lý'">
                    <app-class-assignment [class]="item" [owner]="'E_CLASS'"></app-class-assignment>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<ng-template #editDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'MENU.CLASS' | translate }}<span> -
                        {{ 'COMMON.ACTION.EDIT' | translate }}</span></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-class-add [item]="item" [mode]="mode" (valueChange)='onChanged($event)'>
                </app-class-add>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #assignStudySubjectDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'MENU.STUDY_SUBJECTS' | translate }}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-study-subject-assign [id]="item.uuid" [items]="item.studySubjects" [dataType]="'E_CLASS'"
                    (valueChange)='onChanged($event)'>
                </app-study-subject-assign>
            </div>
        </div>
    </div>
</ng-template>