<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.CODE' | translate }}</mat-label>
                <input type="text" appInputCharacterMask matInput formControlName="code" maxlength="20" required #code>
                <mat-error *ngIf="mainForm.get('code').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('code').hasError('existed')">
                    {{ 'MESSAGE.CODE_EXISTS' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="name" maxlength="250" required #name>
                <mat-error *ngIf="mainForm.get('name').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="inactive">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</mat-checkbox>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.PERSONAL.GENDER' | translate }}</mat-label>
                <mat-select formControlName="gender" required>
                    <mat-option value="{{ gender }}" *ngFor="let gender of genders">
                        {{ 'COMMON.PERSONAL.GENDER_VALUES.' + gender | translate }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="mainForm.get('gender').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.PERSONAL.DOB' | translate }}</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="dob"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" required>
                <mat-error *ngIf="mainForm.get('dob').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="asForeigner">{{ 'MODULE.EMPLOYEE.FOREIGNER' | translate }}</mat-checkbox>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.PERSONAL.OTHER_NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="otherName">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.CONTACT_INFO.PHONE_NO' | translate }}</mat-label>
                <input type="text" matInput formControlName="phoneNo" maxlength="250" required>
                <mat-error *ngIf="mainForm.get('phoneNo').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field class="input-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" required>
                <mat-error *ngIf="mainForm.get('email').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('email').hasError('email')">
                    Invalid Email
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-7">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.CONTACT_INFO.ADDRESS' | translate }}</mat-label>
                <input type="text" matInput formControlName="contactAddressFull">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.PERSONAL.ID_CARD_PASSPORT_NO' | translate }}</mat-label>
                <input type="text" matInput formControlName="idCardNo">
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.PERSONAL.ISSUE_DATE' | translate }}</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="idCardIssueDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.PERSONAL.ISSUE_PLACE' | translate }}</mat-label>
                <input type="text" matInput formControlName="idCardIssuePlace">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-4">
            <app-outlet-selector matInput [uuid]="item?.outletId" [mode]="mode" (valueChange)="onChangeOutlet($event)">
            </app-outlet-selector>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.EMPLOYEE.JOB_TITLE' | translate }}</mat-label>
                <input type="text" matInput formControlName="jobTitle" required>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.EMPLOYEE.DEPARTMENT' | translate }}</mat-label>
                <input type="text" matInput formControlName="orgUnitName">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.TIME.START_DATE' | translate }}</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="startedDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" required>
                <mat-error *ngIf="mainForm.get('startedDate').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.EMPLOYEE.WORKING_TYPE' | translate }}</mat-label>
                <mat-select formControlName="workingType" required>
                    <mat-option value="{{ workingType }}" *ngFor="let workingType of workingTypes">
                        {{ 'MODULE.EMPLOYEE.WORKING_TYPE_VALUES.' + workingType | translate }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="mainForm.get('employmentStatus').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.EMPLOYEE.EMPLOYMENT_STATUS' | translate }}</mat-label>
                <mat-select formControlName="employmentStatus" required>
                    <mat-option value="{{ employmentStatus }}" *ngFor="let employmentStatus of employmentStatuses">
                        {{ 'MODULE.EMPLOYEE.EMPLOYMENT_STATUS_VALUES.' + employmentStatus | translate }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="mainForm.get('employmentStatus').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.TIME.END_DATE' | translate }}</mat-label>
                <input type="text" matInput #dp="bsDatepicker" bsDatepicker formControlName="terminatedDate"
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.EMPLOYEE.EDU_LEVEL' | translate }}</mat-label>
                <mat-select matNativeControl formControlName="eduLevel" required>
                    <mat-option value="{{ eduLevel }}" *ngFor="let eduLevel of eduLevels">
                        {{ 'MODULE.EMPLOYEE.EDU_LEVEL_VALUES.' + eduLevel | translate }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="mainForm.get('eduLevel').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="hasService">{{ 'MENU.LECTURER' | translate }}</mat-checkbox>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'MODULE.EMPLOYEE.YEARS_OF_EXPERIENCES' | translate }}</mat-label>
                <input type="text" matInput formControlName="yearsOfServiceExperiences" maxlength="2" numericInputOnly>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.REMARK' | translate }}</mat-label>
                <input type="text" matInput formControlName="serviceQualificationRemark">
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-2">
            <button type="button" class="btn btn-save btn-block" (click)="startSave('E_SAVE')"
                [disabled]="!isFormValid">
                <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
            </button>
        </div>
        <div class="col-sm-2" *ngIf="view">
            <button type="button" class="btn btn-save btn-block" (click)="startSave('E_SAVE_AND_VIEW')"
                [disabled]="!isFormValid">
                <i class="fa fa-save"></i> Save & View
            </button>
        </div>
    </div>
</form>