<div class="app-content">
    <div class="row form-header">
        <div class="col-sm-12">
            <span class="form-title">{{ 'MENU.SCHEDULE_PATTERNS' | translate }}</span>
            <button type="button" class="btn btn-add ml-4" (click)="onAdd(editDialog)">
                <i class="fa fa-plus"></i> {{ 'COMMON.ACTION.ADD' | translate }}
            </button>
        </div>
    </div>
    <div class="row form-body" style="margin: 5px">
        <data-table id="data-grid" headerTitle="" [page]="pageNumber" [items]="items" [itemCount]="itemCount"
            (reload)="load($event)" [limit]="10" [header]="false" [selectColumn]="false" [multiSelect]="false"
            [pagination_input]="true" [pagination_range]="true" [indexColumnHeader]="'#'" [selectOnRowClick]="false"
            [expandableRows]="false" [showReloading]="true" [sortBy]="'code'" [sortAsc]="true">
            <data-table-column [property]="'code'" [header]="'COMMON.GENERAL.CODE' | translate" [width]="100">
            </data-table-column>
            <data-table-column [property]="'name'" [header]="'COMMON.GENERAL.NAME' | translate">
            </data-table-column>
            <data-table-column [property]="'sortIndex'" [header]="'COMMON.GENERAL.SORT_INDEX_SHORT' | translate" [styleClass]="'text-center'" [width]="120">
            </data-table-column>
            <data-table-column [property]="" [header]="'COMMON.GENERAL.INACTIVE_SHORT' | translate" [styleClass]="'text-center'" [width]="100">
                <ng-template #dataTableCell let-item="item">
                    <div class="">
                        <span *ngIf="item.inactive"><i class="fa fa-check"></i></span>
                    </div>
                </ng-template>
            </data-table-column>
            <data-table-column [property]="" [header]="''" [styleClass]="'text-center'" [width]="100">
                <ng-template #dataTableCell let-item="item">
                    <button type="button" class="btn btn-default btn-sm space-right-small"
                        (click)="onEdit(editDialog, item)">
                        <i class="fa fa-edit"></i>
                    </button>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>

    <ng-template #editDialog>
        <div class="modal-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">
                        {{ 'MENU.SCHEDULE_PATTERN' | translate }}
                        <span *ngIf="isEditMode"> - {{ 'COMMON.ACTION.EDIT' | translate }}</span>
                        <span *ngIf="!isEditMode"> - {{ 'COMMON.ACTION.ADD' | translate }}</span>
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-schedule-pattern-add [item]="selectedItem" [mode]="mode" (valueChange)='onChanged($event)'>
                    </app-schedule-pattern-add>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- <app-confirm-dialog iconCls="fa fa-trash" >
    </app-confirm-dialog> -->

</div>