<form [formGroup]="mainForm">
    <div class="row mt-2">
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.CODE' | translate }}</mat-label>
                <input type="text" appInputCharacterMask matInput formControlName="code" maxlength="20" required #code>
                <mat-error *ngIf="mainForm.get('code').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
                <mat-error *ngIf="mainForm.get('code').hasError('existed')">
                    {{ 'MESSAGE.CODE_EXISTS' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.NAME' | translate }}</mat-label>
                <input type="text" matInput formControlName="name" maxlength="250" required #name>
                <mat-error *ngIf="mainForm.get('name').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="input-full-width">
                <mat-label>{{ 'COMMON.GENERAL.SORT_INDEX' | translate }}</mat-label>
                <input type="text" matInput formControlName="sortIndex" maxlength="10" numericInputOnly required>
                <mat-error *ngIf="mainForm.get('sortIndex').hasError('required')">
                    {{ 'MESSAGE.REQUIRED_FIELD' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <br>
            <mat-checkbox formControlName="inactive">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</mat-checkbox>
        </div>
    </div>
</form>
<div class="row mt-2">
    <!-- <div class="col-sm-1">
        </div> -->
    <div class="col-sm-12">
        <div class="row mt-2 datagrid-header">
            <div class="col-sm-7">
                {{ 'COMMON.TIME.WEEK_DAYS' | translate }}
            </div>
            <div class="col-sm-2" align="center">
                {{ 'COMMON.TIME.START_TIME' | translate }}
            </div>
            <div class="col-sm-2" align="center">
                {{ 'COMMON.TIME.END_TIME' | translate }}
            </div>
        </div>
        <div class="row mt-2 datagrid-row" *ngFor="let detail of details; index as i; last as isLast">
            <div class="col-sm-1">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="detail.onMon">
                    <label for="" class="lbl"> {{ 'COMMON.TIME.MONDAY_SHORT' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="detail.onTue">
                    <label for="" class="lbl"> {{ 'COMMON.TIME.TUESDAY_SHORT' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="detail.onWed">
                    <label for="" class="lbl"> {{ 'COMMON.TIME.WEDNESDAY_SHORT' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="detail.onThu">
                    <label for="" class="lbl"> {{ 'COMMON.TIME.THURSDAY_SHORT' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="detail.onFri">
                    <label for="" class="lbl"> {{ 'COMMON.TIME.FRIDAY_SHORT' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="detail.onSat">
                    <label for="" class="lbl"> {{ 'COMMON.TIME.SATURDAY_SHORT' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="detail.onSun">
                    <label for="" class="lbl"> {{ 'COMMON.TIME.SUNDAY_SHORT' | translate }}</label>
                </div>
            </div>
            <div class="col-sm-1" align="right">
                <app-hour-selector [value]="detail.hourFrom" (valueChange)="onChangeHour('E_FROM',i,$event)">
                </app-hour-selector>
            </div>
            <div class="col-sm-1">
                <app-minute-selector [value]="detail.minuteFrom" (valueChange)="onChangeMinute('E_FROM',i,$event)">
                </app-minute-selector>
            </div>
            <div class="col-sm-1" align="right">
                <app-hour-selector [value]="detail.hourTo" (valueChange)="onChangeHour('E_TO',i,$event)">
                </app-hour-selector>
            </div>
            <div class="col-sm-1">
                <app-minute-selector [value]="detail.minuteTo" (valueChange)="onChangeMinute('E_TO',i,$event)">
                </app-minute-selector>
            </div>
            <div class="col-sm-1" align="right">
                <button type="button" class="btn btn-default" (click)="onDeleteRow(i)" style="margin-left: 5px;"
                    [hidden]="" tabindex="-1">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-1">
                <button type="button" class="btn btn-default" (click)="onAddRow()" style="margin-left: 5px;">
                    <i class="fa fa-plus"></i><span></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-2">
        <button type="button" class="btn btn-save btn-block" (click)="startSave()" [disabled]="!isFormValid">
            <i class="fa fa-save"></i> {{ 'COMMON.ACTION.SAVE' | translate }}
        </button>
    </div>
</div>