<div>
    <div class="row mat-elevation-z1">
        <div class="col-sm-4">
            <span class="form-sub-label" style="display:block">{{ 'MENU.STUDENT' | translate | uppercase }}</span>
            <span class="form-title">{{ item?.name }}</span>
            <button class="btn btn-add btn-lite ml-1" (click)="onEdit(editDialog)">
                <i class="fa fa-edit fa-lg"></i>
            </button>
        </div>
        <div class="col-sm-2">
            <i class="fa fa-phone mt-4"></i>
            <span class="form-bold-text ml-2">{{ item?.phoneNo }}</span>
        </div>
        <div class="col-sm-3">
            <i class="fa fa-envelope mt-4"></i>
            <span class="form-bold-text ml-2">{{ item?.email }}</span>
        </div>
        <div class="col-sm-3" align="right">
            <i class="fa fa-building mt-4"></i>
            <span class="form-bold-text ml-2">{{ item?.outletName }}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.GENERAL.CODE' | translate }}</span>
            <span style="display:block"><strong>{{ item?.code }}</strong></span>
            <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.PERSONAL.GENDER' | translate }}</span>
            <span style="display:block">{{ 'COMMON.PERSONAL.GENDER_VALUES.' + item?.gender | translate }}</span>
            <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.PERSONAL.DOB' | translate }}</span>
            <span style="display:block">{{ item?.dob | moment}}</span>
            <div *ngIf="item?.contactAddressFull != ''">
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.CONTACT_INFO.ADDRESS' | translate
                    }}</span>
                <span style="display:block">{{ item?.contactAddressFull }}</span>
            </div>
            <span class="form-sub-label mt-1" style="display:block">{{ 'MENU.SOURCE' | translate }}</span>
            <span style="display:block">{{ item?.sourceName }}</span>
            <div *ngIf="item?.occupationDesc != ''">
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.PERSONAL.OCCUPATION' | translate
                    }}</span>
                <span style="display:block">{{ item?.occupationDesc }}</span>
            </div>
            <div *ngIf="item?.permanentAddressFull != ''">
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.PERSONAL.PERMANENT_ADDRESS' |
                    translate }}</span>
                <span style="display:block">{{ item?.permanentAddressFull }}</span>
            </div>
            <div class="custom-checkbox mt-1">
                <input type="checkbox" class="custom-control-input" [checked]="item?.inactive" disabled>
                <label class="lbl">
                    <span class="ml-2">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</span>
                </label>
            </div>
            <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.CREATED_BY' | translate }}</span>
            <span style="display:block">{{ item?.createdByCode }}</span>
            <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.CREATED_AT' | translate }}</span>
            <span style="display:block">{{ item?.createdAt | moment }}</span>
            <div *ngIf="item?.modifiedByCode">
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.MODIFIED_BY' | translate
                    }}</span>
                <span style="display:block">{{ item?.modifiedByCode }}</span>
                <span class="form-sub-label mt-1" style="display:block">{{ 'COMMON.SYSTEM.MODIFIED_AT' | translate
                    }}</span>
                <span style="display:block">{{ item?.modifiedAt | moment}}</span>
            </div>
        </div>
        <div class="col-sm-7">
            <tabset class="col-sm-12" style="min-height:400px">
                <tab [heading]="'Lớp học'" id="tabClasses">
                    <app-class-enrollment-list [contact]="item" [owner]="'E_STUDENT'"></app-class-enrollment-list>
                </tab>
            </tabset>
        </div>
        <div class="col-sm-3">
            <div class="">
                <!-- <app-comment-list-new [ownerType]="'E_CONTACT'" [ownerId]="id"></app-comment-list-new> -->
                <app-comment-list [ownerType]="'E_CONTACT'" [ownerId]="id"></app-comment-list>
            </div>
        </div>
    </div>
    <ng-template #editDialog>
        <div class="modal-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{ 'MENU.STUDENT' | translate }}<span> -
                            {{ 'COMMON.ACTION.EDIT' | translate }}</span></h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-student-add [item]="item" [mode]="mode" (valueChange)='onChanged($event)'>
                    </app-student-add>
                </div>
            </div>
        </div>
    </ng-template>