<div class="app-content-white">
    <div class="" style="margin: 5px">
        <div class="row mt-2">
            <div class="col-sm-12">
                <data-table id="data-grid" headerTitle="" [page]="pageNumber" [items]="items" [itemCount]="itemCount"
                    (reload)="load()" [limit]="1000" [selectColumn]="false" [multiSelect]="false"
                    [pagination_input]="false" [pagination_range]="false" [indexColumnHeader]="'#'"
                    [selectOnRowClick]="false" [expandableRows]="false" [showReloading]="false" [sortBy]="'code'"
                    [sortAsc]="true">
                    <data-table-column [property]="" [header]="'Môn học'">
                        <ng-template #dataTableCell let-item="item">
                            <div class="row">
                                <div class="col-sm-9">
                                    <span style="display:block" class="mt-1">
                                        <strong>{{ item?.studySubjectName }}</strong>
                                    </span>
                                    <span style="display:block" *ngIf="item.remark!=''" class="mt-1">
                                        <i class="fa fa-sticky-note-o mr-1" aria-hidden="true"></i>
                                        {{ item?.remark }}
                                    </span>
                                </div>
                                <div class="col sm-3" align="right">
                                    <span style="display:block" class="">
                                        {{ item?.studySubjectCode }}
                                    </span>
                                    <span style="display:block" class="mt-1">
                                        <i class="fa fa-list mr-1" aria-hidden="true"></i>
                                        {{ item?.sortIndex }}
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="" [header]="'Số tiết'" [width]="100" [styleClass]="'text-center'">
                        <ng-template #dataTableCell let-item="item">
                            {{ item?.unitCount | number }}
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="" [header]="''" [styleClass]="'text-center'" [width]="100">
                        <ng-template #dataTableCell let-item="item">
                            <button type="button" class="btn btn-add btn-sm space-right-small"
                                (click)="onEdit(studySubjectDialog, item)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-add btn-sm space-right-small ml-2"
                                (click)="onDelete(item.uuid)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </ng-template>
                    </data-table-column>

                    <ng-template #basicSearch>
                        <div class="row">
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-add" (click)="onAdd(studySubjectDialog)">
                                    <i class="fa fa-plus"></i> Thêm mới
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </data-table>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="mr-2">TỔNG SỐ TIẾT HỌC:</span>  <strong>{{ totalUnitCount | number }}</strong> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #studySubjectDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Môn học - Thêm mới</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-class-study-subject-add [mode]="mode" [item]="selectedItem" [inputItems]="items"
                    [classId]="classId" [class]="class" (valueChange)='onChanged($event)'>
                </app-class-study-subject-add>
            </div>
        </div>
    </div>
</ng-template>

<app-confirm-dialog iconCls="fa fa-trash" [title]="'MESSAGE.CONFIRM_DELETE_TITLE' | translate"
    [content]="'MESSAGE.CONFIRM_DELETE_MSG' | translate">
</app-confirm-dialog>