<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <span class="form-title">{{ 'MENU.SETTINGS' | translate }}</span>
        </div>   
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="../course/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.COURSES' | translate }}</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../program/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.PROGRAMS' | translate }}</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../study-subject/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.STUDY_SUBJECTS' | translate }}</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../test-subject/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.TEST_SUBJECTS' | translate }}</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="../outlet/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.OUTLETS' | translate }}</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../source/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.SOURCES' | translate }}</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../facility/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.FACILITIES' | translate }}</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../schedule-pattern/list" routerLinkActive="active" class="link-text">
                        <h5>{{ 'MENU.SCHEDULE_PATTERNS' | translate }}</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../system-config" routerLinkActive="active" class="link-text">
                        <h5>System Configuration</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>