<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <span class="form-title">THIẾT LẬP</span>
        </div>   
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="../program" routerLinkActive="active" class="link-text">
                        <h5>Chương trình</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../study-subject" routerLinkActive="active" class="link-text">
                        <h5>Môn học</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../test-subject" routerLinkActive="active" class="link-text">
                        <h5>Môn thi</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../schedule-pattern" routerLinkActive="active" class="link-text disabled-link">
                        <h5>Thời khóa biểu</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="../outlet" routerLinkActive="active" class="link-text">
                        <h5>Chi nhánh</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../source" routerLinkActive="active" class="link-text">
                        <h5>Nguồn</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../holiday" routerLinkActive="active" class="link-text disabled-link">
                        <h5>Ngày nghỉ lễ</h5>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="../room" routerLinkActive="active" class="link-text disabled-link">
                        <h5>Phòng ốc</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>