<div class="app-content-white">
    <div class="row mt-2">
        <div class="col-sm-10">
            <span class="form-title">{{ item?.name }}</span>
            <button type="button" class="btn btn-add ml-2" (click)="onEditCourse(editDialog)">
                <i class="fa fa-edit"></i> {{ 'COMMON.ACTION.EDIT' | translate }}
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-3">
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.code }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.GENERAL.CODE' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.sortIndex }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.GENERAL.SORT_INDEX' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.programName }}</span>
                    <span class="form-sub-label ml-2">{{ 'MENU.PROGRAM' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.curriculum }}</span>
                    <span class="form-sub-label ml-2">{{ 'MODULE.CLASS.CURRICULUM' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [checked]="item?.checkingRequired" disabled>
                        <label class="lbl">
                            <span class="form-sub-label ml-2">{{ 'MODULE.CLASS.CHECKING_REQUIRED' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [checked]="item?.inactive" disabled>
                        <label class="lbl">
                            <span class="form-sub-label ml-2">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.createdByCode }}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.SYSTEM.CREATED_BY' | translate }}</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="form-bold-text">{{ item?.createdAt | moment}}</span>
                    <span class="form-sub-label ml-2">{{ 'COMMON.SYSTEM.CREATED_AT' | translate }}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <tabset class="col-sm-12" style="min-height:400px">
                <tab [heading]="'MENU.STUDY_SUBJECTS' | translate" id="tabStudySubjects">
                    <div class="row mt-2 ml-2">
                        <div class="col-sm-12">
                            <div class="row mt-2 datagrid-header">
                                <div class="col-sm-1" align="center">
                                    #
                                </div>
                                <div class="col-sm-4">
                                    {{ 'MENU.STUDY_SUBJECT' | translate }}
                                </div>
                                <div class="col-sm-1" align="center">
                                    {{ 'MODULE.SETTINGS.LECTURE_UNIT_COUNT_SHORT' | translate }}
                                </div>
                                <div class="col-sm-5">
                                    {{ 'COMMON.GENERAL.REMARK' | translate }}
                                </div>
                                <div class="col-sm-1" align="right">
                                    <a class="btn-add" (click)="onAssign(assignStudySubjectDialog)"><i class="fa fa-edit"></i></a>
                                </div>                  
                            </div>
                            <div class="row mt-2 datagrid-row"
                                *ngFor="let item of item?.studySubjects; index as i; last as isLast">
                                <div class="col-sm-1" align="center">
                                    {{ i+1 }}
                                </div>
                                <div class="col-sm-4">
                                    {{ item?.studySubjectName }}
                                </div>
                                <div class="col-sm-1" align="center">
                                    {{ item?.unitCount }}
                                </div>
                                <div class="col-sm-4">
                                    {{ item?.remark }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1" align="center">
                                    <strong>{{ unitCount }}</strong>
                                </div>
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-1" align="right">
                                </div>                  
                            </div>
                        </div>
                    </div>
                </tab>
                <tab [heading]="'MENU.EXAMS_TESTS' | translate" id="tabExams">
                    <br><br>
                    <h5>Under Construction ...</h5>
                </tab>
                <tab [heading]="'MENU.MATERIALS' | translate" id="tabStudyMaterials">
                    <br><br>
                    <h5>Under Construction ...</h5>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<ng-template #editDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'MENU.COURSE' | translate }}<span> -
                        {{ 'COMMON.ACTION.EDIT' | translate }}</span></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-course-add [item]="item" [mode]="mode" (valueChange)='onChanged($event)'>
                </app-course-add>
                <!-- <app-deal-add [item]="item" [mode]="mode" (valueChange)='onChanged($event)'>
                    </app-deal-add> -->
            </div>
        </div>
    </div>
</ng-template>

<ng-template #assignStudySubjectDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ 'MENU.STUDY_SUBJECTS' | translate }}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-study-subject-assign [id]="item.uuid" [items]="item.studySubjects" [dataType]="'E_COURSE'" (valueChange)='onChanged($event)'>
                </app-study-subject-assign>
            </div>
        </div>
    </div>
</ng-template>