<div class="app-content-white">
    <div class="row mt-2">
        <div class="col-sm-12">
            <div class="row mt-2 ml-2">
                <div class="col-sm-12">
                    <div class="row mt-2 datagrid-header">
                        <div class="col-sm-1" align="center">
                            #
                        </div>
                        <div class="col-sm-4">
                            {{ 'MENU.CLASS' | translate }}
                        </div>
                        <div class="col-sm-2">
                            {{ 'MENU.OUTLET' | translate }}
                        </div>
                        <div class="col-sm-1" align="center">
                            Nhập học
                        </div>
                        <div class="col-sm-1" align="center">
                            Trạng thái
                        </div>
                        <div class="col-sm-3">
                            {{ 'COMMON.GENERAL.REMARK' | translate }}
                        </div>
                        <!-- <div class="col-sm-1">
                            <button type="button" class="btn-add" (click)="onAdd(enrollDialog)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="row mt-2 datagrid-row"
                        *ngFor="let item of classEnrollments; index as i; last as isLast">
                        <div class="col-sm-1" align="center">
                            {{ i+1 }}
                        </div>
                        <!-- <div class="col-sm-2">
                            {{ item?.courseName }}
                        </div> -->
                        <div class="col-sm-4">
                            {{ item?.className }}
                        </div>
                        <div class="col-sm-2">
                            {{ item?.outletName }}
                        </div>
                        <div class="col-sm-1" align="center">
                            {{ item?.enrollmentDate | moment }}
                        </div>
                        <div class="col-sm-1" align="center">
                            {{ 'MODULE.CLASS.ENROLLMENT_STATUS_VALUES.' + item?.status | translate }}
                        </div>
                        <div class="col-sm-3">
                            {{ item?.remark }}
                        </div>
                        <!-- <div class="col-sm-1">
                            <button type="button" class="btn-add" (click)="onEdit(enrollDialog, item)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<ng-template #enrollDialog>
    <div class="modal-form">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Nhập học</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-class-enroll [inputClass]="class" [mode]="mode" [item]="selectedItem" (valueChange)='onChanged($event)'>
                </app-class-enroll>
            </div>
        </div>
    </div>
</ng-template> -->