<div class="app-content-white">
    <!-- <div class="row mt-2">
        <div class="col-sm-6">
            <span>Học viên</span>
        </div>
    </div> -->
    <div class="row mt-2">
        <div class="col-sm-4">
            <span class="form-title">{{ item?.name }}</span>
            <button type="button" class="btn-add ml-2" (click)="onEdit(editDialog)">
                <i class="fa fa-edit"></i>
            </button>
        </div>
        <div class="col-sm-3">
            <span class="form-bold-text">{{ item?.email }}</span>
        </div>
        <div class="col-sm-2">
            <span class="form-bold-text">{{ item?.phoneNo }}</span>
        </div>
        <div class="col-sm-2">
            <div class="custom-checkbox">
                <input type="checkbox" class="custom-control-input" [checked]="item?.inactive" disabled>
                <label class="lbl">
                    <span class="form-sub-label ml-2">{{ 'COMMON.GENERAL.INACTIVE' | translate }}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-1">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.GENERAL.CODE' | translate }}</span>
            <span style="display:block">{{ item?.code }}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.PERSONAL.GENDER' | translate }}</span>
            <span style="display:block">{{ 'COMMON.PERSONAL.GENDER_VALUES.' + item?.gender | translate }}</span>
        </div>
        <div class="col-sm-1">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.PERSONAL.DOB' | translate }}</span>
            <span style="display:block">{{ item?.dob | moment}}</span>
        </div>
        <div class="col-sm-3">
            <span class="form-sub-label" style="display:block">{{ 'MENU.OUTLET' | translate }}</span>
            <span style="display:block">{{ item?.outletName }}</span>
        </div>
        <div class="col-sm-3">
            <span class="form-sub-label" style="display:block">{{ 'COMMON.CONTACT_INFO.ADDRESS' | translate }}</span>
            <span style="display:block">{{ item?.contactAddressFull }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <tabset class="col-sm-12" style="min-height:400px">
                <tab [heading]="'Lớp học'" id="tabClasses">
                    <app-student-enrollment [contact]="item"></app-student-enrollment>
                </tab>
                <tab [heading]="'Info'" id="tabInfo">
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <span class="form-bold-text">{{ item?.occupationDesc }}</span>
                            <span class="form-sub-label ml-2">{{ 'COMMON.PERSONAL.OCCUPATION' | translate }}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <span class="form-bold-text">{{ item?.permanentAddressFull }}</span>
                            <span
                                class="form-sub-label ml-2">{{ 'COMMON.PERSONAL.PERMANENT_ADDRESS' | translate }}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <span class="form-bold-text">{{ item?.createdByCode }}</span>
                            <span class="form-sub-label ml-2">{{ 'COMMON.SYSTEM.CREATED_BY' | translate }}</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <span class="form-bold-text">{{ item?.createdAt | moment}}</span>
                            <span class="form-sub-label ml-2">{{ 'COMMON.SYSTEM.CREATED_AT' | translate }}</span>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <ng-template #editDialog>
        <div class="modal-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{ 'MENU.STUDENT' | translate }}<span> -
                            {{ 'COMMON.ACTION.EDIT' | translate }}</span></h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-student-add [item]="item" [mode]="mode" (valueChange)='onChanged($event)'>
                    </app-student-add>
                </div>
            </div>
        </div>
    </ng-template>