<form [formGroup]="mainForm">
    <div class="app-content">
        <div class="row form-header">
            <div class="col-sm-4">
                <span class="form-title">{{ 'MENU.STUDENTS' | translate }}</span>
                <button type="button" class="btn btn-add ml-4" (click)="onAdd(editDialog)">
                    <i class="fa fa-plus"></i>
                    <!-- {{ 'COMMON.ACTION.ADD' | translate }} -->
                </button>
            </div>
            <div class="col-sm-2">
                <mat-form-field class="input-full-width">
                    <mat-label>Giá trị tìm kiếm</mat-label>
                    <input type="text" matInput formControlName="searchValue" maxlength="250" (keyup.enter)="onSearch()" #searchValue placeholder="Mã, tên, số điện thoại">
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <app-outlet-selector matInput [uuid]="outletId" [mode]="mode" [firstValue]="'E_ALL'" (valueChange)="onChangeOutlet($event)">
                </app-outlet-selector>
            </div>
            <div class="col-sm-2">
                <mat-form-field class="input-full-width">
                    <mat-label>Trạng thái</mat-label>
                    <mat-select (selectionChange)="onSearch()" formControlName="activeStatus">
                        <mat-option value="{{ activeStatus }}" *ngFor="let activeStatus of activeStatuses">
                            {{ 'COMMON.GENERAL.ACTIVE_STATUS_VALUES.' + activeStatus | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-add btn-block" (click)="onSearch()">
                    <i class="fa fa-search"></i>
                     <!-- {{ 'COMMON.ACTION.SEARCH' | translate }} -->
                </button>
            </div>

        </div>
        <div class="row form-body" style="margin: 5px">
            <data-table id="data-grid" headerTitle="" [page]="pageNumber" [items]="items" [itemCount]="itemCount"
                (reload)="load($event)" [limit]="10" [header]="false" [selectColumn]="false" [multiSelect]="false"
                [pagination_input]="true" [pagination_range]="true" [indexColumnHeader]="'#'" [selectOnRowClick]="false"
                [expandableRows]="false" [showReloading]="true" [sortBy]="'code'" [sortAsc]="true">
                <data-table-column [property]="" [header]="'COMMON.GENERAL.CODE' | translate" [width]="100">
                    <ng-template #dataTableCell let-item="item">
                        <a routerLink="../../student/view/{{item.uuid}}" class="link-text">{{ item.code}}</a>
                    </ng-template>
                </data-table-column>
                <data-table-column [property]="" [header]="'COMMON.GENERAL.NAME' | translate">
                    <ng-template #dataTableCell let-item="item">
                        <a routerLink="../../student/view/{{item.uuid}}" class="link-text">{{ item.name}}</a>
                    </ng-template>
                </data-table-column>
                <data-table-column [property]="'phoneNo'" [header]="'COMMON.CONTACT_INFO.PHONE_NO' | translate ">
                </data-table-column>
                <data-table-column [property]="'contactAddressFull'"
                    [header]="'COMMON.CONTACT_INFO.ADDRESS' | translate">
                </data-table-column>
                <data-table-column [property]="'outletName'" [header]="'MENU.OUTLET' | translate">
                </data-table-column>
                <data-table-column [property]="" [header]="'COMMON.GENERAL.INACTIVE_SHORT' | translate"
                    [styleClass]="'text-center'" [width]="100">
                    <ng-template #dataTableCell let-item="item">
                        <div class="">
                            <span *ngIf="item.inactive"><i class="fa fa-check"></i></span>
                        </div>
                    </ng-template>
                </data-table-column>
                <data-table-column [property]="" [header]="''" [styleClass]="'text-center'" [width]="100">
                    <ng-template #dataTableCell let-item="item">
                        <button type="button" class="btn btn-add btn-sm space-right-small"
                            (click)="onEdit(editDialog, item)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </ng-template>
                </data-table-column>
            </data-table>
        </div>

        <ng-template #editDialog>
            <div class="modal-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">
                            {{ 'MENU.STUDENT' | translate }}
                            <span *ngIf="isEditMode"> - {{ 'COMMON.ACTION.EDIT' | translate }}</span>
                            <span *ngIf="!isEditMode"> - {{ 'COMMON.ACTION.ADD' | translate }}</span>
                        </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-student-add [item]="selectedItem" [mode]="mode" (valueChange)='onChanged($event)'>
                        </app-student-add>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- <app-confirm-dialog iconCls="fa fa-trash" >
    </app-confirm-dialog> -->

    </div>
</form>