<div class="container">
  <br><br><br><br>
  <div align="center">
    <h1>Banyan Education Management System</h1>
  </div>
  <div align="center">
    <!-- <h4>Customer is King</h4> -->
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="row">
    <div class="col-sm-12" align="center">
      <h5>A Product of Banyan Smart Education Ecosystem</h5>
      <h6>Powered by iNet Solutions Cloud Platform</h6>
      <span>Last updated on 6 December 2020</span>
    </div>
  </div>
</div>